<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div id="splash_screen" class="d-none">
          <div class="center">
            <v-progress-circular
              class="mb-2 d-block"
              indeterminate
              :color="theme_color"
            ></v-progress-circular>
          </div>
        </div>

        <div class="pa-0" id="main_container">
        
            <div class="chats_list">
              <div class="section_header border">
                <v-row class="pa-0 ma-0 align-center px-3" style="height: 100%;">

                  <v-col cols="2" class="ma-0 pa-0 mr-1 ml-1">
                    <v-menu offset-y transition="slide-y-transition">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="gray"
                          dark
                          v-bind="attrs"
                          v-on="on"
                          icon
                          large
                        >
                          <v-icon color="grey">
                            mdi-menu
                          </v-icon>
                        </v-btn>
                      </template>
                      <v-list style="width: 300px;">
                        <v-list-item v-ripple>
                          <v-list-item-title>Settings</v-list-item-title>
                        </v-list-item>
                        <v-list-item v-ripple href="https://github.com/tahadostifam/ChatApp">
                          <v-list-item-title>Source Code</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-col>

                  <v-col class="ma-0 pa-0">
                    <input type="text"class="custom_input" placeholder="Search">
                  </v-col>

                </v-row>
              </div>
              
              <div class="chats">
                <div class="chat_row active_chat">
                  <v-row>
                    <v-col cols="2" class="mr-1">
                      <div class="image">
                        <img src="https://picsum.photos/900/900" onload="window.lazyImage(this)" class="avatar">
                      </div>
                    </v-col>
                    <v-col class="pa-0 pl-5 pt-2">
                      <span class="d-block">Username</span>
                      <span class="d-block text--secondary">Latest Message</span>
                    </v-col>
                  </v-row>
                </div>
                <div class="chat_row">
                  <v-row>
                    <v-col cols="2" class="mr-1">
                      <div class="solid_color_avatar"></div>
                    </v-col>
                    <v-col class="pa-0 pl-5 pt-2">
                      <span class="d-block">Username</span>
                      <span class="d-block text--secondary">Latest Message</span>
                    </v-col>
                  </v-row>
                </div>
              </div>
            </div>

            <div class="chat_view">
              <div class="section_header border">
                header
              </div>
              
              <div class="messages_list">

                <div class="message_row">
                  <div class="message">
                    <span class="sender_name">Username</span>
                    <p class="message_content">
                      Message From Maximilian Tepes
                    </p>
                    <div class="message_footer">
                      <span class="edit_state mr-1 font-italic">edited</span>
                      <span class="send_datetime">1 Jan, 22:05</span>
                    </div>
                  </div>
                </div>

                <div class="message_row my_message">
                  <div class="message">
                    <p class="message_content">
                      Message From Maximilian Tepes
                    </p>
                    <div class="message_footer">
                      <span class="edit_state mr-1 font-italic">edited</span>
                      <span class="send_datetime">1 Jan, 22:05</span>
                      <v-icon class="checkmark_state d-none">mdi-check</v-icon>
                      <v-icon class="checkmark_state">mdi-check-all</v-icon>
                    </div>
                  </div>
                </div>

                <div class="message_row my_message image_type">
                  <div class="message">
                    <div class="image">
                      <img src="https://picsum.photos/900/900" onload="window.lazyImage(this)">
                    </div>
                    <p class="message_content">
                      Message From Maximilian Tepes Message From Maximilian Tepes Message From Maximilian Tepes 
                    </p>
                    <div class="message_footer">
                      <span class="send_datetime">1 Jan, 22:05</span>
                      <v-icon class="checkmark_state">mdi-check-all</v-icon>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="send_message_section">
                  hello wolrd
              </div>

            </div>

        </div>
      </v-main>
    </v-app>
  </div>
  <script src="vue.min.js"></script>
  <script src="vuetify.min.js"></script>
  <script src="scripts.js"></script>
</body>
</html>