<div
  class="panel sidebar_panel no-scroll bg-grey-darker"
  id="edit_profile_panel"
  [class.show]="show"
>
  <div class="panel_header no-border bg-grey-dark">
    <div>
      <button
        (click)="this.closeButton()"
        class="btn btn-glass-grey btn-large rounded-full d-inline-block"
      >
        <span class="mdi mdi-arrow-left" style="font-size: 20px"></span>
      </button>
      <h1 class="panel_title ml-10">Edit Profile</h1>
    </div>
  </div>
  <div class="bg-grey-dark pt-20">
    <div class="avatar" id="edit_profile_avatar" LazyImageLoading>
      <button class="btn-none">
        <span class="mdi mdi-camera-plus-outline"></span>
      </button>
      <img src="assets/images/avatar.jpg" />
    </div>
    <div class="pl-20 pr-20 mt-40">
      <div class="theme-grey-dark input-outlined-with-label">
        <input
          id="name"
          name="name"
          type="text"
          class="input-outlined input_large label-input"
        />
        <label class="input-label" for="name"> Name </label>
      </div>
      <div class="theme-grey-dark input-outlined-with-label mt-20">
        <input
          id="bio"
          name="bio"
          type="text"
          class="input-outlined input_large label-input"
        />
        <label class="input-label" for="bio"> Bio (optional) </label>
        <p class="text-grey mt-10 mb-10">
          Any detail such as age, occupation or city.
          <br />
          Example: 16 y.o programmer from Iran
        </p>
      </div>
    </div>
    <div class="black_sepa"></div>
    <div class="bg-grey-dark pa-20">
      <h4 class="text-primary mb-10">Username</h4>
      <div class="theme-grey-dark input-outlined-with-label mt-20">
        <input
          id="username"
          name="username"
          type="text"
          class="input-outlined input_large label-input"
        />
        <label class="input-label" for="username"> Username (optional) </label>
      </div>
    </div>
    <div class="black_sepa pa-20 mb-20 pt-10 text-grey">
      You can choose a username on Telegram. If you do, people will be able to
      find you by this username and contact you without needing your phone
      number.
      <br />
      <br />
      You can use a-z, 0-9 and underscores. Minimum length is 5 characters.
      <br />
      This link opens a chat with you
      <a
        style="font-size: 13px"
        class="text-primary mt-10 pb-20 d-block"
        href="#"
        >https://127.0.0.1:3000/taha_dev</a
      >
    </div>
  </div>
</div>
