.dropdown{
    .dropdown-menu{
        $dropdown_color: #212121;

        border: none;
        box-shadow: 0px 7px 12px  rgba(0, 0, 0, 0.24);
        background-color: $dropdown_color;

        [anim="ripple"]{
            --ripple-background: #bbbbbb65;
        }
        .dropdown-item{
            user-select: none;
            background-color: $dropdown_color;
            padding: 15px 20px;
            &, &:active, &.active{
                color: rgba(221, 221, 221, 0.8);
            }
            &:hover{
                background-color: #aaaaaa14;
            }
        }
    }
    
    @each $name, $color in $colors {
        .dropdown-menu-#{$name}{
            .dropdown-item{
                &.active, &:active, &:hover{
                    background: $color;
                }
            }
        }
        .dropdown-menu-#{$name}{
            &[anim="ripple"]::before{
                // background: $color;
            }
        }
    }

    @each $name, $color in $colors_reverse {
        .dropdown-menu-#{$name}{
            .dropdown-item{
                &:active, &.active, &:hover{
                    color: $color;
                }
            }
        }
    }

    .dropdown-menu.dropdown-nohover{
        .dropdown-item{
            &.active, &:active, &:hover{
                background: #fff;
                color: #212529;
            }
        }
    }
}