@import 'global';
@import 'variables';

// Components
@import 'buttons';
@import 'inputs';
@import 'ripples';
@import 'accordions';
@import 'alerts';
@import 'breadcrumbs';
@import 'cards'; 
@import 'lazy_img';
@import 'carousels';
@import 'dropdowns';
@import 'modals';
@import 'navbar';
@import 'toasts';
@import 'pagination';

body{
    background: rgb(7, 8, 8);
    user-select: none;
}

.form{
    width: 500px;
    background: rgb(17, 20, 20);
    border-radius: 5px;
    padding: 10px 20px;
    &.form-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
    .form-row{
        width: 100%;
        display: block;
        margin-bottom: 15px;
        label{
            color: rgb(218, 218, 218);
        }
    }
    .form-title{
        font-size: 25px;
        color: #fff;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 600px) {
        &{
            width: 90%;
            &.form-center{
                top: 35px;
                transform: translate(-50%, 0)
            }
        }
    }
}

$chats_list_with: 400px;

#chats_list{
    width: $chats_list_with;
    height: 100vh;
    display: inline-block;
    float: left;
    background: #212121;
    padding: 20px;

    .chat_row{
        display: block;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        .chat_avatar{
            --size: 50px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &:hover{
            background-color: #aaaaaa14;
        }
    }

    nav{
        $menu_button_width: 50px;
        height: 40px;
        display: flex;
        .menu_button{
            cursor: pointer;
            width: 40px;
            height: 40px;
            position: relative;
            text-align: center;
            padding: 0;
            padding-left: 5px;
            padding-top: 2px;
            color: rgb(218, 218, 218);
            border-radius: 50%;
            font-size: 30px;
            display: inline-block;
            float: left;
        }
        .search_box{
            position: relative;
            display: inline-block;
            float: right;
            $margin_from_left: 12px;
            width: calc(100% - #{$menu_button_width} - #{$margin_from_left});
            margin-left: $margin_from_left;
            input{
                padding-left: 33px;
            }
            ion-icon{
                position: absolute;
                top: 12px;
                left: 12px;
                color: rgba(221, 221, 221, 0.507);
                transition: 0.15s ease-in-out;
            }
            input:focus ~ ion-icon{
                color: $primary;
            }
        }
    }
}

#chat_view{
    display: inline-block;
    float: right;
    height: 100vh;
    width: calc(100% - #{$chats_list_with});

    background: rgb(7, 8, 8);
}