<div
  class="panel sidebar_panel no-scroll"
  id="settigs_panel"
  [class.show]="show"
>
  <div class="panel_header">
    <div>
      <button
        (click)="this.closeButton(false)"
        class="btn btn-glass-grey btn-large rounded-full d-inline-block"
      >
        <span class="mdi mdi-arrow-left" style="font-size: 20px"></span>
      </button>
      <h1 class="panel_title ml-10">Settings</h1>
    </div>
    <div>
      <button class="btn btn-glass-grey btn-large rounded-full d-inline-block">
        <span class="mdi mdi-pen" style="font-size: 20px"></span>
      </button>
      <button class="btn btn-glass-grey btn-large rounded-full d-inline-block">
        <span class="mdi mdi-dots-vertical" style="font-size: 20px"></span>
      </button>
    </div>
  </div>
  <div class="avatar" LazyImageLoading>
    <img src="assets/images/avatar.jpg" />
  </div>
  <div class="d-block w-100 pa-10 pb-5">
    <div class="row_glass">
      <div class="icon">
        <span class="mdi mdi-at"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">mr.tahadostifam@gmail.com</div>
        <span class="subtitle"> Email </span>
      </div>
    </div>
    <div class="row_glass">
      <div class="icon">
        <span class="mdi mdi-account"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">tahadostifam</div>
        <span class="subtitle"> Username </span>
      </div>
    </div>
  </div>

  <div class="black_sepa"></div>

  <div class="d-block w-100 pa-10">
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-bell"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">Notifications</div>
      </div>
    </div>
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-database"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">Data and Storage</div>
      </div>
    </div>
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-lock"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">Privacy and Security</div>
      </div>
    </div>
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-cog-outline"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">General Settings</div>
      </div>
    </div>
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-folder"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">Chat Folders</div>
      </div>
    </div>
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-desktop-mac"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">Devices</div>
      </div>
    </div>
    <div class="row_glass all_center">
      <div class="icon">
        <span class="mdi mdi-ideogram-cjk-variant"></span>
      </div>
      <div class="d-inline-block">
        <div class="title">Language</div>
      </div>
    </div>
  </div>
</div>
