<div class="panel sidebar_panel" id="settigs_panel" [class.show]="show">
  <div class="panel_header">
    <div>
      <button
        (click)="this.closeButton(false)"
        class="btn btn-glass-grey btn-large rounded-full d-inline-block"
      >
        <span class="mdi mdi-arrow-left" style="font-size: 20px"></span>
      </button>
      <h1 class="panel_title ml-10">Settings</h1>
    </div>
    <div>
      <button class="btn btn-glass-grey btn-large rounded-full d-inline-block">
        <span class="mdi mdi-pen" style="font-size: 20px"></span>
      </button>
      <button class="btn btn-glass-grey btn-large rounded-full d-inline-block">
        <span class="mdi mdi-dots-vertical" style="font-size: 20px"></span>
      </button>
    </div>
  </div>
  <div class="avatar">
    <img src="assets/images/avatar.jpg" />
  </div>
</div>
