<div id="signin_page">
  <div class="form">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" />
    </div>
    <h1 class="title">Sign in to ChatApp</h1>
    <h2 class="sub-title text-grey">
      Please enter your email. after submit we will send you a verification
      code.
    </h2>
    <div class="input-outlined-with-label">
      <label class="input-label" for="email">Email</label>
      <input
        id="email"
        type="text"
        class="theme-light input-outlined input_large label-input"
      />
    </div>
    <button class="btn w-100 btn-large">Submit</button>
  </div>
</div>
