<div class="chat_row d-flex align-center flex-row" [class.active]="active">
  <div class="chat_avatar" [class.just_color]="!avatar">
    <img *ngIf="avatar" [src]="avatar" />
    <span class="is_online" *ngIf="is_online"></span>
    <span *ngIf="!avatar">{{ title[0] }}</span>
  </div>
  <div class="d-inline-block chat_row_content">
    <div class="d-flex space-between align-center mb-10">
      <h1 class="chat_title">{{ title }}</h1>
      <span class="chat_last_message_date">{{ last_message_date }}</span>
    </div>
    <div class="d-flex space-between align-center">
      <p class="chat_last_message">{{ last_message }}</p>
      <span *ngIf="unread_messages" class="chat_unread_messages_count">{{
        unread_messages
      }}</span>
    </div>
  </div>
</div>
