@use 'variables' as vars;
@import 'components/public';
@import 'components/forms';
@import 'components/inputs';
@import 'components/buttons';
@import 'components/containers';

@font-face {
  font-family: 'CherryBomb';
  src: url('../fonts/CherryBomb/CherryBomb-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir/Vazir.ttf');
}