$color_1: #212121;
$color_2: #0f0f0f;
$color_3: #0f0f0f;
$color_4: #181818;
$color_5: #2f2f2f;
$color_6: #707579;
$theme_color: #00c853;

$chats_list_with: 350px;
$header_height: 60px;
$send_message_section_height: 60px;

$bk_desktop_mini: 1100px;
$bk_mobile: 920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $color_3;
  border-radius: 50px;
}

html {
  overflow-y: hidden;
}

body,
.v-application {
  font-family: "Roboto";
}

.form_top_overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background-color: $theme_color;
  text-align: center;
  padding-top: 30px;
  font-family: "Roboto";
  h1 {
    font-weight: 500;
    font-size: 60px;
    color: #fff;
  }
  h2 {
    &,
    a {
      color: #fff;
      text-decoration: none;
    }
    a {
      font-weight: bold;
    }
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
  }
}

.form {
  width: 520px;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);
  @media screen and (max-width: 560px) {
    & {
      width: 95%;
    }
  }
}

.sepa {
  position: relative;
  width: 100%;
  border-top: 1px solid $color_5;
}

#main_container {
  height: 100vh;

  .section_header {
    position: relative;
    z-index: 50;
    width: 100%;
    height: $header_height;
    display: block;
    background-color: $color_1;
    &.border {
      border-bottom: 1px solid $color_2;
    }
  }

  .chats_list {
    width: $chats_list_with;
    height: 100%;
    background-color: $color_1;
    display: inline-block;
    float: left;
    .section_header {
      .row_flex {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: calc(100% - 20px);
        display: grid;
        grid-template-columns: 50px calc(100% - 50px);
        div:first-child {
          margin-right: 15px;
        }
      }
    }
  }

  .chat_view {
    position: absolute;
    width: calc(100% - 350px);
    height: 100%;
    background-color: #0f0f0f;
    display: inline-block;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    .splash_screen {
      .center {
        padding-top: $send_message_section_height;
      }
    }
    .section_header {
      border-left: 1px solid $color_2;
      .image {
        display: inline-block;
        border-radius: 50%;
        --size: 45px;
        width: var(--size);
        height: var(--size);
        overflow: hidden;
        background-color: $color_4;
        .avatar {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: $bk_desktop_mini) {
    $width: 300px;
    .chats_list {
      width: $width;
    }
    .chat_view {
      width: calc(100% - #{$width});
    }
  }
  #back_button_from_chat {
    display: none;
  }
  @media screen and (max-width: $bk_mobile) {
    #back_button_from_chat {
      display: block;
    }

    .chats_list {
      width: 100%;
    }
    .chat_view {
      & {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: left 0.3s ease;
      }
      &.show {
        display: block;
        z-index: 70;
        left: 0;
      }
    }
  }
}

.custom_input {
  width: 100%;
  height: 40px;
  background-color: $color_4;
  outline: none;
  border-radius: 50px;
  color: #fff;
  padding: 0 12px;
  transition: border-color 0.3s ease;
  border: 1px solid $color_5;
  &:hover {
    border-color: $color_6;
  }
  &:focus {
    border: 2px solid $theme_color;
  }
}

.chats {
  cursor: default;
  padding: 10px;
  height: calc(100% - #{$header_height});
  overflow-y: auto;
  overflow-x: hidden;
  .chat_row {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 65px;
    margin-bottom: 5px;
    .solid_color_avatar,
    .image {
      position: relative;
      top: -4px;
      margin-left: 10px;
      margin-right: 10px;

      --size: 50px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      overflow: hidden;
      .avatar {
        width: 100%;
        height: 100%;
      }
    }
    .solid_color_avatar {
      top: -1px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    .image {
      background-color: $color_4;
    }
    border-radius: 10px;
    &:hover {
      background-color: #aaaaaa14;
    }
    &.active_chat {
      &,
      &:hover {
        background-color: $theme_color;
      }
    }
    .row_flex {
      position: relative;
      top: 8px;
      display: flex;
      .image {
        position: relative;
        top: -1px;
        margin-right: 10px;
      }
    }
  }
}

.image img {
  transition: 0.3s ease;
  opacity: 0;
  &.image__loaded {
    opacity: 1;
  }
}

.splash_screen {
  &.fixed {
    position: fixed;
  }
  &.absolute {
    position: absolute;
  }
  width: 100%;
  height: 100%;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color_4;
  transition: 0.3s ease;
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

#full_splash_screen {
  z-index: 90;
}

.messages-scroll {
  overflow-y: visible;
  max-height: calc(100% - #{$header_height} - #{$send_message_section_height});
}

.messages_list {
  width: 100%;
  height: 100%;
  height: calc(
    100vh - #{$header_height} - #{$send_message_section_height} - 20px
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  padding-bottom: 0px;
  .message_row {
    display: flex;
    width: 100%;
    .message {
      max-width: 500px;
      border-radius: 6px;
      overflow: hidden;
      background-color: $color_1;
      padding: 0 10px;
      margin-top: 10px;
      .sender_name {
        display: block;
        width: 100%;
        padding: 0;
        padding-top: 5px;
        padding-right: 20px;
        font-weight: 500;
        color: $theme_color;
      }
      .message_content {
        user-select: text;
        margin: 0;
        padding: 0;
        direction: ltr;
        text-align: left;
      }
      .message_footer {
        display: block;
        width: 100%;
        text-align: right;
        .edit_state,
        .send_datetime {
          font-size: 13px;
          color: $color_6;
          padding-bottom: 5px;
        }
        .checkmark_state.v-icon {
          position: relative;
          margin-right: -5px;
          font-size: 19px !important;
          color: #ddd;
        }
      }
      @media screen and (max-width: $bk_desktop_mini) {
        & {
          max-width: 450px;
        }
      }
    }
    &.my_message {
      justify-content: flex-end;
      .message_content {
        padding-top: 5px;
      }
    }
    &.type_image {
      // TODO
      // NOTE - init: image base size with sizes that comes from backend
      .message {
        max-width: 400px;
        padding: 0 0px;
        .message_content {
          position: relative;
          padding: 0 10px;
          z-index: 4;
        }
        .sender_name {
          margin-bottom: 2px;
          margin-left: 7px;
          padding-top: 3px;
        }
      }
      .message_footer {
        padding-right: 10px;
      }
      .image {
        min-width: 300px;
        min-height: 150px;
        max-height: 450px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .image img,
      .not_downloaded_image img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
      }
      .not_downloaded_image {
        position: relative;
        overflow: hidden;
        cursor: default;
        .download_image_message__button {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, calc(-50% + 5px));
          background-color: #0000004d;
          padding: 20px;
          border-radius: 50%;
        }
        img {
          filter: blur(5px);
        }
        &::before {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          width: 100%;
          height: 10px;
          content: "";
          display: block;
          background-color: $color_1;
          z-index: 3;
        }
      }
    }
  }
}

.send_message_section {
  position: relative;
  padding: 0 30px;
  .send_box {
    position: relative;
    padding-top: 16px;
    .v-text-field .v-text-field__details {
      display: none;
    }
    #send_message_button,
    #emojies_button {
      position: absolute;
      top: 19px;
      z-index: 20;
      &.v-btn--icon.v-size--x-large {
        width: 42px;
        height: 42px;
      }
    }
    #send_message_button {
      right: 3px;
    }
    #emojies_button {
      left: 3px;
    }
    #send_message_textbox {
      padding: 0 38px;
    }
    .emoji_picker {
      #emoji_picker_card {
        position: absolute;
        z-index: 30;
        bottom: 75px;
        width: 300px;
        height: 350px;
        overflow-y: scroll;
      }
      .set_title {
        color: $color_6;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .emoji_span {
        font-size: 23px;
        padding: 2px;
        margin: 0 1px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: #aaaaaa14;
        }
      }
    }
  }
}

.v-application #main_container .theme--dark.v-navigation-drawer {
  background: $color_1;
}

.text-red {
  color: #f44336;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: $color_6;
}

.bg-theme {
  background-color: $theme_color;
}

.cursor-pointer {
  cursor: pointer;
}

.form_errors {
  width: 100%;
  .item {
    color: #f44336;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
  }
  margin-bottom: 10px;
}

body .v-application .v-navigation-drawer {
  z-index: 90;
  background-color: #181818;
  #user_info_at_nav_drawer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
  }
  .v-item-group {
    padding-top: 100px;
    .v-list--nav .v-list-item .v-list-item__title {
      position: relative;
      left: -9px;
      top: 1px;
    }
  }
  .v-list--nav .v-list-item {
    padding-left: 15px;
  }
  .v-list--nav .v-list-item,
  .v-list--nav .v-list-item:before {
    border-radius: 6px;
  }
  .nav_drawer_footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
  }
  .v-navigation-drawer__border {
    display: none;
  }
}
