// Colors
$color_1: #212121;
$color_2: #0f0f0f;
$color_3: #0f0f0f;
$color_4: #181818;
$color_5: #2f2f2f;
$color_6: #707579;
$danger_color: #f44336;
$success_color: #0cc543;
$theme_color: #674FFF;
// Width & Heights
$chats_list_width: 350px;
$header_height: 60px;
$send_message_section_height: 70px;
// Breakpoints
$bk_desktop_mini: 1100px;
$bk_mobile: 920px;