.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 8px;
  --color: #fff;
  color: var(--color);
  fill: var(--color);
  background-color: var(--primary-color);
  transition: background-color 0.15s ease;
  text-transform: uppercase;
  font-family: var(--font);
  font-size: 100%;
  font-weight: 500;
  white-space: nowrap;
  .rounded-sm();
  &.btn-glass {
    background-color: transparent;
    color: var(--primary-color);
    &:hover {
      background-color: var(--primary-glass-color);
    }
  }
  &.rounded-full{
    --size: 40px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    padding: 0;
    text-align: center;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.make-buttons(@names, @colors) {
  .button(@index) when (@index =< length(@names)) {
    @name: extract(@names, @index);
    @color: extract(@colors, @index);
    @button: ~".btn-@{name}";
    @button_glass: ~".btn-glass-@{name}";

    @{button} {
      background-color: @color;
    }

    @{button_glass}{
      background-color: transparent;
      color: @color;
      &:hover {
        background-color: extract(@buttons-light-colors, @index);
      }
    }

    .button(@index + 1);
  }
  .button(1);
}

.make-buttons(@buttons-names, @buttons-colors);
