<div class="ma-15">
  <input
    class="input-solo mt-10"
    type="text"
    placeholder="Write a message..."
  />
  <br />
  <input class="input-outlined mt-10" type="text" placeholder="Search" />

  <button class="btn">Button</button>
  <button class="btn btn-glass">Button</button>
  <button class="btn btn-danger">Button</button>
  <button class="btn btn-glass-danger">Button</button>
  <button class="btn btn-danger rounded-full">D</button>
  <button class="btn btn-glass-danger rounded-full">D</button>

  <br /><br />

  <div class="dropdown">
    <button class="dropdown-button btn">Button</button>
    <div class="dropdown-content">
      <a class="item">Item</a>
      <a class="item">Item</a>
      <a class="item">Item</a>
    </div>
  </div>
</div>
