.solid_color_avatar {
  top: -1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  padding-top: 2px;
  font-weight: 500;
  font-size: 18px;
  background-color: vars.$color_3;
}

.avatar {
  position: relative;
}

.avatar_xlarge {
  &.solid_color_avatar {
    padding-top: 10px;
  }

  --size: 110px;
}

.avatar_large {
  &.solid_color_avatar {
    padding-top: 5px;
  }

  --size: 90px;
}
