@use "../variables" as vars;

#signin_form {
  #logo{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    -webkit-user-drag: none;
  }
  width: 520px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (max-width: 560px) {
    & {
      width: 95%;
    }
  }
  #signin_form_content{
    margin-top: 25px;
    padding: 0 30px;
    h1{
      font-size: 20px;
    }
  } 
}

.form_errors {
  width: 100%;

  .item {
    color: #777;
    &.item-error{
      color: vars.$danger_color;
    }
    &.item-success{
      color: vars.$success_color;
    }
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
  }

  margin-bottom: 10px;
}
  