<div class="message_row" [class.my_message]="my_message">
  <div class="message">
    <h1 *ngIf="sender" class="sender">{{ sender }}</h1>
    <div class="content">
      <div dir="auto" class="text_content" *ngIf="text_content">
        {{ text_content }}
      </div>
    </div>
    <div class="footer">
      <span *ngIf="edited" class="edited">edited</span>
      <span class="send_time">{{ send_time }}</span>
      <span
        class="seen_state"
        *ngIf="seen_state && seen_state.trim().length > 0"
      >
        <span *ngIf="seen_state == 'sending'" class="mdi mdi-clock"></span>
        <span *ngIf="seen_state == 'sended'" class="mdi mdi-check"></span>
        <span *ngIf="seen_state == 'seen'" class="mdi mdi-check-all"></span>
      </span>
    </div>
  </div>
</div>
