<div id="chat_container">
  <div id="sidebar">
    <div id="sidebar_headbar">
      <button
        id="show_menu_button"
        class="btn btn-danger btn-glass-grey rounded-full"
        #showMenuButton
        (click)="menuButtonClick()"
      >
        <span *ngIf="!search_mode" class="material-icons">menu</span>
        <svg
          *ngIf="search_mode"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          style="width: 23px"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="48"
            d="M244 400L100 256l144-144M120 256h292"
          />
        </svg>
      </button>
      <div id="search_in_chats_input">
        <input
          type="text"
          class="input-outlined rounded-full"
          ngModel
          [(ngModel)]="search_input"
          placeholder="Search"
          (focus)="searchInputFocus()"
        />
        <span class="material-icons">search</span>
      </div>
    </div>
    <div id="chats_list">
      <chat-row></chat-row>
    </div>
  </div>
  <div id="chatside">
    <div id="chatside_headbar"></div>
  </div>
</div>
