<div id="chat_container">
  <div id="sidebar">
    <div id="sidebar_headbar">
      <button
        id="show_menu_button"
        class="btn btn-danger btn-glass-grey rounded-full"
        (click)="search_mode = !search_mode"
      >
        <span *ngIf="!search_mode" class="material-icons">menu</span>
      </button>
      <span class="material-icons">arrow-</span>
      <input
        type="text"
        class="input-outlined rounded-full"
        placeholder="Search"
        id="search_in_chats_input"
      />
    </div>
  </div>
  <div id="chatside">
    <div id="chatside_headbar"></div>
  </div>
</div>
