<div id="chat_container">
  <div id="sidebar">
    <div id="sidebar_headbar">
      <dropdown
        [width]="'300px'"
        [offset]="'5px'"
        [id]="'menu_dropdown'"
        id="menu_dropdown"
      >
        <a class="item">
          <span class="mdi mdi-bookmark"></span>
          Saved Messages</a
        >
        <a class="item">
          <span class="mdi mdi-cog"></span>
          Settings
        </a>
        <a class="item">
          <span class="mdi mdi-information"></span>
          ChatApp Features
        </a>
        <a class="item">
          <span class="mdi mdi-bug"></span>
          Report Bug
        </a></dropdown
      >
      <button
        id="show_menu_button"
        class="btn btn-danger btn-glass-grey rounded-full"
        #showMenuButton
        (click)="menuButtonClick()"
      >
        <span *ngIf="!search_mode" class="mdi mdi-menu"></span>
        <span class="mdi mdi-arrow-left" *ngIf="search_mode"></span>
      </button>
      <div id="search_in_chats_input">
        <input
          type="text"
          class="input-outlined rounded-full"
          ngModel
          [(ngModel)]="search_input"
          placeholder="Search"
          (focus)="searchInputFocus()"
        />
        <span class="mdi mdi-magnify"></span>
      </div>
    </div>
    <div id="chats_list">
      <chat-row
        [active]="true"
        [title]="'[Taha.D]'"
        [last_message]="'Hi Taha'"
        [last_message_date]="'12:12'"
        [avatar]="'assets/images/avatar.jpg'"
        [unread_messages]="'1'"
      ></chat-row>
    </div>
    <div #searchChatsList id="search_chats_list" *ngIf="show_search_chats_list">
      TODO
    </div>
  </div>
  <div id="chatside">
    <div id="chatside_headbar"></div>
  </div>
</div>
