#chat_container {
  --sidebar-width: 420px;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: block;
  #sidebar {
    position: relative;
    display: block;
    width: var(--sidebar-width);
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--grey-dark-color);
    #sidebar_headbar {
      border-bottom: 1px solid var(--border-color);
      width: 100%;
      padding: 5px 18px;
      --side-bar-menu-button-width: 45px;
      #show_menu_button {
        position: relative;
        top: 1px;
        display: inline-block;
        width: var(--side-bar-menu-button-width);
        height: var(--side-bar-menu-button-width);
        vertical-align: middle;
        padding-top: 5px;
      }
      #search_in_chats_input {
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        --margin: 7px;
        margin-left: var(--margin);
        width: calc(100% - var(--side-bar-menu-button-width) - var(--margin));
        position: relative;
        .material-icons {
          position: absolute;
          left: 10px;
          top: 10px;
          color: var(--grey-light-color);
        }
        input {
          padding-left: calc(39px - var(--border-width));
          height: 42px;
        }
        input:focus ~ .material-icons {
          color: var(--primary-color);
          transition: 0.2s ease-in-out;
        }
      }
    }
    #chats_list {
      padding: 10px 15px;
    }
    #search_chats_list {
      --zoom-size: -15px;
      top: calc(var(--top) - 15px);
      position: absolute;
      --top: 55px;
      height: calc(100% - var(--top));
      bottom: var(--zoom-size);
      left: var(--zoom-size);
      right: var(--zoom-size);
      background-color: var(--grey-dark-color);
      opacity: 0;
      transition: 0.1s ease-in-out;
      &.show {
        top: var(--top);
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
}
