<div
  class="panel sidebar_panel no-scroll"
  id="notifications_panel"
  [class.show]="show"
>
  <div class="panel_header">
    <div>
      <button
        (click)="this.closeButton()"
        class="btn btn-glass-grey btn-large rounded-full d-inline-block"
      >
        <span class="mdi mdi-arrow-left" style="font-size: 20px"></span>
      </button>
      <h1 class="panel_title ml-10">Notifications</h1>
    </div>
  </div>
  <div class="d-block w-100 pa-10 pt-20">
    <div>
      <h4 class="text-primary mb-10 ml-10">Private chats</h4>
      <label for="notf_for_private_chats" class="row_glass all_center">
        <div class="checkbox pa-0 pl-30 ma-0">
          <input
            hidden
            type="text"
            type="checkbox"
            id="notf_for_private_chats"
            checked="1"
          />
          <span class="checkbox-border"></span>
          <span class="checkmark"></span>
        </div>

        <div class="d-inline-block">
          <div class="title">Notifications for private chats</div>
          <div class="subtitle">Enabled</div>
        </div>
      </label>
      <label
        for="message_preview_for_private_chats"
        class="row_glass all_center"
      >
        <div class="checkbox pa-0 pl-30 ma-0">
          <input
            hidden
            type="text"
            type="checkbox"
            id="message_preview_for_private_chats"
            checked="1"
          />
          <span class="checkbox-border"></span>
          <span class="checkmark"></span>
        </div>

        <div class="d-inline-block">
          <div class="title">Message Preview</div>
          <div class="subtitle">Enabled</div>
        </div>
      </label>
    </div>
  </div>
  <div class="black_sepa"></div>
  <div class="d-block w-100 pa-10 pt-20">
    <div>
      <h4 class="text-primary mb-10 ml-10">Groups</h4>
      <label for="notf_for_group_chats" class="row_glass all_center">
        <div class="checkbox pa-0 pl-30 ma-0">
          <input
            hidden
            type="text"
            type="checkbox"
            id="notf_for_group_chats"
            checked="1"
          />
          <span class="checkbox-border"></span>
          <span class="checkmark"></span>
        </div>

        <div class="d-inline-block">
          <div class="title">Notifications for groups</div>
          <div class="subtitle">Enabled</div>
        </div>
      </label>
      <label for="message_preview_for_groups" class="row_glass all_center">
        <div class="checkbox pa-0 pl-30 ma-0">
          <input
            hidden
            type="text"
            type="checkbox"
            id="message_preview_for_groups"
            checked="1"
          />
          <span class="checkbox-border"></span>
          <span class="checkmark"></span>
        </div>

        <div class="d-inline-block">
          <div class="title">Message Preview</div>
          <div class="subtitle">Enabled</div>
        </div>
      </label>
    </div>
  </div>
  <div class="black_sepa"></div>
  <div class="d-block w-100 pa-10 pt-20">
    <div>
      <h4 class="text-primary mb-10 ml-10">Channel</h4>
      <label for="notf_for_channel_chats" class="row_glass all_center">
        <div class="checkbox pa-0 pl-30 ma-0">
          <input
            hidden
            type="text"
            type="checkbox"
            id="notf_for_channel_chats"
            checked="1"
          />
          <span class="checkbox-border"></span>
          <span class="checkmark"></span>
        </div>

        <div class="d-inline-block">
          <div class="title">Notifications for channels</div>
          <div class="subtitle">Enabled</div>
        </div>
      </label>
      <label for="message_preview_for_channels" class="row_glass all_center">
        <div class="checkbox pa-0 pl-30 ma-0">
          <input
            hidden
            type="text"
            type="checkbox"
            id="message_preview_for_channels"
            checked="1"
          />
          <span class="checkbox-border"></span>
          <span class="checkmark"></span>
        </div>

        <div class="d-inline-block">
          <div class="title">Message Preview</div>
          <div class="subtitle">Enabled</div>
        </div>
      </label>
    </div>
  </div>
</div>
