@colors-names: "white", "black", "grey";
@colors-values: #fff, #000, var(--grey-light-color);

@margins-values: 0px, 1px, 2px, 3px, 5px, 10px, 15px, 20px, 30px, 40px;
@margins-names: "0", "1", "2", "3", "5", "10", "15", "20", "30", "40";

@radius-names: "df", "sm", "md";
@radius-values: 10px, 8px, 0.75rem;

@input-bg-color: var(--grey-darker-color);
@input-border-color: #2f2f2f;
@input-hover-border-color: var(--grey-light-color);
@input-focused-bg-color: var(--grey-dark-color);

@transition: 0.2s ease-in-out;

:root {
  --primary-color: #3390ec;
  --primary-glass-color: #157be121;
  --grey-darker-color: #181818;
  --grey-dark-color: #212121;
  --grey-light-color: #707579;
  --grey-lighter-color: #aaaaaa14;
  --light-border: #dfe1e5;
  --danger-color: #ff1d1d;
  --font: "Roboto", "Vazir", -apple-system, apple color emoji, "Segoe UI";
}

@buttons-names: "danger";
@buttons-colors: var(--danger-color);
@buttons-light-colors: #ff00002d;
